@model DSRCManagementSystem.Models.Skills
@{
   
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<body>
<div class="row" style="height:300px;"></div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="panel panel-default panel-shadow"  data-collapsed="0">
                <!-- panel head -->
                <div class="panel-heading">
                    <div class="panel-title" color="White">
                       Approve Skill Request</div>
                </div>
                <!-- panel body -->
                <div class="panel-body">   
                @if ( ViewBag.IsApproved)
                {
                    
                    <div style="text-align: center;font-weight:bold;color:Red;" class="danger">
                       <h5 style="font-weight:bold;color:red;"> Request has been approved Already</h5>
                    </div>
                }
                   else if ( ViewBag.IsCancelled)
                {
                    <div style="text-align: center;font-weight:bold;color:Green;" class="success">
                        <h5 style="font-weight:bold;color:Green;">Request has been cancelled by User</h5>
                    </div>
                    }
               
                else if  (ViewBag.IsRejected)
                {
                    <div style="text-align: center;font-weight:bold;color:red;" class="success">
                        <h5 style="font-weight:bold;color:Green;">Request has been Rejected Already</h5>
                    </div>
                    }

                     else 
                {
                    <div style="text-align: center;font-weight:bold;color:Green;" class="success">
                        <h5 style="font-weight:bold;color:Green;">Request has been Rejected </h5>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</body>
