@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<body>
<div class="row" style="height:100px;"></div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="panel panel-default panel-shadow" data-collapsed="0">
                <!-- panel head -->
                <div class="panel-heading">
                    <div class="panel-title" color="White">
                       <h4 style="font-weight:bold;">Forgot Password</h4></div>
                </div>
                <!-- panel body -->
                <div class="panel-body">    
                   
                    <div style="text-align: center;font-weight:bold;color:Green;" class="success">
                        <h3 style="font-weight:bold;color:Green;">Your forgot password reset link has expired.  <br /><br />
                         <p style='padding-left: 2%; '>
                                            <h4> <a href="Forgotpassword/" >
                                                 Please <u style='color: Blue;'>click here</u> to reset your password </a>
                                            </h4> </p>
                        </h3>
                        <br />
                         
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</body>
