@{
    ViewBag.Title = "Successfully Approved";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<body>
<div class="row" style="height:100px;"></div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="panel panel-default panel-shadow" data-collapsed="0">
                <!-- panel head -->
                <div class="panel-heading">
                    <div class="panel-title" color="White">
                       <h4 style="font-weight:bold;"> Approve Hardware/Software Request</h4></div>
                </div>
                <!-- panel body -->
                <div class="panel-body">    
                   
                    <div style="text-align: center;font-weight:bold;color:Green;" class="success">
                        <h5 style="font-weight:bold;color:Green;">Hardware/Software request has been Approved</h5>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</body>
