@model IEnumerable<DSRCManagementSystem.LeaveType>
@{          
     
    var grid = new WebGrid(source: Model, canPage: false, canSort: false);
}

@grid.GetHtml(tableStyle: "table table-bordered datatable", headerStyle: "head",
                columns: grid.Columns(
                grid.Column("S.No", format: item => item.WebGrid.Rows.IndexOf(item) + 1), 
                grid.Column("Name", header: "Leave Type"),
                grid.Column("DaysAllowed", header: "No of Days Allowed"),
                grid.Column("CalculateLeaveDays", header: "Calculate Leave Days", format: @<text>@if (item.CalculateLeaveDays)
                                                                                                     {
                                                                                                         <text>Yes</text>
                                                                                                     }
                                                                                                     else
                                                                                                     {
                                                                                                         <text>No</text>
                                                                                                     }
                                                                                                     </text>),
                grid.Column("ApplicableEmployees", header: "Applicable Employees"),
                grid.Column("", format: @<text><button type="button" class="btn btn-info btn-icon icon-left" onclick="EditLeaveType('@item.LeaveTypeId')"><i class="fa fa-edit"></i>Edit</button></text>),
                grid.Column("", format: @<text><button type="button" class="btn btn-red btn-icon icon-left" onclick="DeleteLeaveType('@item.LeaveTypeId')"><i class="entypo-cancel"></i>Delete</button></text>)),
                htmlAttributes: new { @id = "tblLeaveType" })