@model IEnumerable<DSRCManagementSystem.CalendarYear>
@{
    ViewBag.Title = "Academic Year";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section AddToHead
{
    <link href="../../Content/Template/js/select2/select2-bootstrap.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/Template/js/select2/select2.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css"
        rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/css/font-icons/font-awesome/css/font-awesome.min.css"
        rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/css/font-icons/entypo/css/entypo.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/Template/css/font-icons/entypo/css/animation.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/Template/css/custom.css" rel="stylesheet" type="text/css" />

     <style>
      .dropdown-menu {
    background-color: white;
}   
        </style> 

}
@{
    int SNO = 1;
}
<ol class="breadcrumb bc-3">   
    <li><a >Leave Management</a> </li>
    <li><b>Academic Year</b></li>
</ol>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-shadow" data-collapsed="0">
            <!-- panel head -->
            <div class="panel-heading">
                <div class="panel-title" color="White">
                    Academic Year</div>
            </div>
            <!-- panel body -->
            <div class="panel-body">
                @using (Html.BeginForm("ViewProjects", "Projects", FormMethod.Post))
                {
                    <div>
                        <br />
                    </div>
                    
                    <div id="calendarYearGrid">
                        @Html.Partial("_CalendarYear", Model)
                    </div>
          
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="tools">
            <div id="PartialSection">
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="../../Content/Template/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="../../Content/Template/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="../../Content/Template/js/select2/select2.min.js" type="text/javascript"></script>
    <script src="../../Content/JS/ToasterAlert.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            SetupGrid();
        });

        function EditCalendar(calendarId) {
            var toastrOptions = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-right",
                "toastClass": "White",
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr.clear("", toastrOptions);           
            $.ajax({
                url: "../../Leave/EditCalendar/",
                type: 'GET',
                cache: false,
                data: { calendarYearId: calendarId },
                success: function (result) {
                    $('#PartialSection').html(result);
                    $('#portlet-config').appendTo("body").modal({ backdrop: 'static', keyboard: false });
                }
            });
        }

        function ReloadGrid() {
            var tables = $.fn.dataTable.fnTables(true);
            $(tables).each(function () {
                $(this).dataTable().fnClearTable();
                $(this).dataTable().fnDestroy();
            });

            $.ajax({
                url: "../../Leave/CalendarYear/",
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#calendarYearGrid').html(result);
                    SetupGrid();
                }
            });
        }

        function SetupGrid() {
            $('thead>tr>th').css('text-align', 'center');
            $('tbody>tr>td').css('text-align', 'center');
        }
    </script>
}
