@model DSRCManagementSystem.LeaveRequest
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cancel Leave Request</title>
    <link href="../../Content/Template/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css"
        rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/css/font-icons/entypo/css/entypo.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/Template/css/font-icons/entypo/css/animation.css" rel="stylesheet"
        type="text/css" />
  

   
</head>
<body>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×</button>
            <h4 class="modal-title">
                Cancel Leave Request</h4>
        </div>
        <div class="modal-body">
            Are you sure you want to cancel the leave request?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close</button>
            <button type="button" id="btnAdd" class="btn btn-info" onclick="CancelLeaveRequestStatus(@Model.LeaveRequestId)">
                Yes, Cancel Leave Request</button>
        </div>
    </div>
    <script type="text/javascript">
        function CancelLeaveRequestStatus(leaveRequestId) {
            var values =
        {
            "leaveRequestId": leaveRequestId,
            "submittingUserId": @Session["UserId"],
            };
            $.ajax({
                url: "../../Leave/CancelLeaveRequest/",
                type: 'POST',
                cache: false,
                data: values,
                success: function (result) {

                }
            });
        }
    </script>
</body>
</html>
