@model IEnumerable<DSRCManagementSystem.LeaveRequest>
@{
    ViewBag.Title = "Leave Requests";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section AddToHead
{
    <link href="../../Content/Template/js/select2/select2-bootstrap.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/Template/js/select2/select2.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/css/font-icons/font-awesome/css/font-awesome.min.css"
        rel="stylesheet" type="text/css" />
    <script src="../../Content/bootstrap/bootbox.min.js" type="text/javascript"></script>
        <script src="../../Content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../Content/Plugins/bootstrap-datetimepicker/js/bootstrap-datepicker.js"
        type="text/javascript"></script>
    <link href="../../Content/Plugins/bootstrap-datetimepicker/css/bootstrap-datepicker.css"
        rel="stylesheet" type="text/css" />
  
}
<style>
        tr td:nth-child(1) { 
   text-align: center;
}
       tr td:nth-child(8) { 
   text-align: center;
}
</style>


  <style>
     .dropdown-menu {
    background-color:white;
}
        </style>
@{
    int SNO = 1;
}
<ol class="breadcrumb bc-3">    
    <li><a>Leave Management</a> </li>
    <li><b>Employee Upcoming Leaves</b> </li>
</ol>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-shadow" data-collapsed="0">
            <!-- panel head -->
            <div class="panel-heading">
                <div class="panel-title" color="White">
                    Upcoming Leaves</div>
            </div>
            <!-- panel body -->
            <div class="panel-body">
                @using (Html.BeginForm("UpcomingLeaves", "Leave", FormMethod.Post))
                {
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2" style="width:102px; padding-top:7px;">
                                Leave Status
                            </div>
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                    <br />
                    <div id="_UpcomingLeavesGrid">
                        @Html.Partial("_UpcomingLeaves", Model)
                    </div>
          
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="tools">
            <div id="PartialSection">
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="../../Content/Template/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="../../Content/Template/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="../../Content/Template/js/select2/select2.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            SetupGrid();
            $('.profile-info').click(function () {
                $('.img.circle').parent().parent().toggleClass('open');
            });
            $('a.dropdown-toggle').click(function () {
                $(this).parent().toggleClass('open');
            });
        });

        function EditLeaveRequestStatus(leaveRequestId) {
            $.ajax({
                url: "../../Leave/UpdateLeaveRequestStatus/",
                type: 'GET',
                cache: false,
                data: { leaveRequestId: leaveRequestId },
                success: function(result) {
                    $('#PartialSection').html(result);
                    $('#portlet-config').appendTo("body").modal({ backdrop: 'static', keyboard: false });
                }
            });
        }

        function ReloadGrid() {
            var tables = $.fn.dataTable.fnTables(true);
            $(tables).each(function() {
                $(this).dataTable().fnClearTable();
                $(this).dataTable().fnDestroy();
            });
            $.ajax({
                url: "../../Leave/UpcomingLeaves/",
                type: 'GET',
                cache: false,
                success: function(result) {
                    $('#_UpcomingLeavesGrid').html(result);
                    SetupGrid();
                }
            });
        }

        function SetupGrid() {
            var leaveStatusSearchId = $("#LeaveStatus").find("option:selected").prop("value");
            var table = $("#tblSubmittedLeaveRequest").DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "sPaginationType": "bootstrap",
                "columnDefs": [
                    { "width": "6%", "targets": 0 }, { "width": "14%", "targets": 1 }, { "width": "12%", "targets": 2 }, { "width": "10%", "targets": 3 }, { "width": "15%", "targets": 4 }, { "width": "15%", "targets": 5 },
                    { "width": "15%", "targets": 6 }, { "width": "5%", "targets": 7 }, { "width": "7%", "targets": 8, bSortable: false }
                ]
        $(".dataTables_wrapper select").select2({
            minimumResultsForSearch: -1
        });
        $('thead>tr>th').css('text-align', 'center');
        }
    </script>
}
