@using Microsoft.SqlServer.Server
@model DSRCManagementSystem.Models.LDCourse2List


             <div id="template">
                <div  class="row">                  
                   @* <div class="col-md-1">
                     <label class="control-label" style="float:left; font-size:medium;">
                    Excel File</label>
                     </div>
                      <div class="col-md-1">

                       <input type="file" name="excelFile" id="file" accept=".xlt" />
              <br />
                <button type="button" class="btn btn-info" id="btnup" onclick='Upload()'>
                    Upload</button>
            </div>*@
              <div style=" font-size:medium; float:left;">
           
              @* <a href="~/CourseTemplate/Course1.xls" >Download File</a>*@
                </div>
            </div>
                </div>
